$gap: 32px !default;
$tablet: 769px !default;
$desktop: 960px + (2 * $gap) !default;
$widescreen: 1152px + (2 * $gap) !default;
$fullhd: 1344px + (2 * $gap) !default;

$sizes: 3rem 2.5rem 2rem 1.5rem 1.25rem 1rem 0.75rem !default;
